# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Repos\coding-interview-practice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
